.categories{
    padding: 4rem;
  .category-name{
   padding-top: 1rem;
   object-fit: contain;
   display: flex;
  flex-direction: row;
  gap: 9rem;
  .nikes{
    p{
      padding-left: 1rem;
    }
    border-radius: 1rem;
    border: $primary-color solid 1px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0;
.nike{
  height: 100%;
  width: 75%;
} 
  }
  }  
 .category-name img{
    margin-left: 1rem;
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px gray solid;
  background-color: gray;
 }  
 .category{
    display: flex;
    justify-content: space-between;
  .more{
    color: $primary-color;
  }  
 }
}
@media(max-width:360px){
    .categories{
        padding: 1rem;
      .category-name{
       padding-top: 1.5rem;
       object-fit: contain;
       display: flex;
      flex-direction: row;
      gap: 1.5rem;
     
      }  
     .category-name img{
        margin-left: 1rem;
      width: 20px;
      height: 20px;
      object-fit: cover;
     }  
     .category{
        display: flex;
        justify-content: space-between;
      .more{
        color: $primary-color;
      }  
     }
    }
}