.detailed {
  .go-back {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    background-color: $primary-color;
    a {
      text-decoration: none;
    }
    h3 {
      color: $secondary-color;
    }
  }
  .shoe-image-two {
    img {
      border-radius: 2rem;
      background-color: $secondary-color;
      width: 20rem;
      height: 20rem;
    }
  }
}
.back {
  background-color: $primary-color;
}
@media (max-width: 788px) {
  .detailed {
    position: relative;
    .go-back {
      height: 50vh;
      display: flex;
      gap: 1.5rem;
      padding: 2rem;
      background-color: $primary-color;
      a {
        text-decoration: none;
      }
      h3 {
        color: $secondary-color;
      }
    }
    .shoe-image-two {
      display: flex;
      justify-content: center;
      img {
        border-radius: 2rem;
        background-color: $secondary-color;
        width: 15rem;
        height: 15rem;
        position: absolute;
        bottom: -50px;
      }
    }
  }
}
@media (max-width: 484px) {
  .detailed {
    position: relative;
    .go-back {
      display: flex;
      gap: 1.5rem;
      padding: 2rem;
      background-color: $primary-color;
      a {
        text-decoration: none;
      }
      h3 {
        color: $secondary-color;
      }
    }
    .shoe-image-two {
      padding-left: 2.5rem;

      img {
        border-radius: 2rem;
        background-color: #e1e8ee;
        object-fit: cover;
        width: 25rem;
        height: 15rem;
        position: absolute;
        bottom: -75px;
        left: 9%;
      }
    }
  }
  .back {
    border-radius: 1rem;
    height: 45vh;
    background-color: $primary-color;
  }
}
@media (max-width: 414px) {
  .detailed {
    position: relative;
    .go-back {
      display: flex;
      gap: 1.5rem;
      padding: 2rem;
      background-color: $primary-color;
      a {
        text-decoration: none;
      }
      h3 {
        color: $secondary-color;
      }
    }
    .shoe-image-two {
      padding-left: 2.5rem;

      img {
        border-radius: 2rem;
        background-color: #e3e8ee;
        object-fit: cover;
        width: 20rem;
        height: 19rem;
        position: absolute;
        bottom: -70px;
        left: 40px;
      }
    }
  }
  .back {
    border-radius: 1rem;
    height: 45vh;
    background-color: $primary-color;
  }
}
@media (max-width: 360px) {
  .detailed {
    position: relative;
    .go-back {
      display: flex;
      gap: 1.5rem;
      padding: 2rem;
      background-color: $primary-color;
      a {
        text-decoration: none;
      }
      h3 {
        color: $secondary-color;
      }
    }
    .shoe-image-two {
      padding-left: 2.5rem;

      img {
        border-radius: 2rem;
        background-color: #e3e8ee;
        object-fit: cover;
        width: 19rem;
        height: 19rem;
        position: absolute;
        bottom: -70px;
        left: 25px;
      }
    }
  }
  .back {
    border-radius: 1rem;
    height: 45vh;
    background-color: $primary-color;
  }
}
