.introduction {
  min-height: 100vh;
//   width: 100%;
  background-color: $primary-color;
  .shoe-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30rem;
      height: 30rem;
    }
  }
  .description {
    padding: 2rem;
    text-align: center;
    h2 {
      color: $secondary-color;
      font-weight: bold;
      font-size: 3rem;
    }
    p {
      color: $secondary-color;
      font-weight: lighter;
      font-size: 1.5rem;
    }
  }
  .btn {
    text-align: center;
    padding: 1.5rem;
    a {
      background-color: $secondary-color;
      border-radius: 0.5rem;
      padding: 0.5rem 3rem;
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media (max-width: 360px) {
    .introduction{
        width: 100%; 
    .shoe-image {
            display: flex;
            justify-content: center;
            align-items: center;
        img {
         padding-top: 4rem;
          width: 20rem;
          height: 20rem;
        }
      }
      .description {
        padding: 2rem;
        text-align: center;
        h2 {
          color: $secondary-color;
          font-weight: bold;
          font-size: 1.9rem;
        }
        p {
          color: $secondary-color;
          padding: 1rem;
          font-weight: lighter;
          font-size: 1rem;
        }
      }
    }
     
}
