.recommandations{
  padding: 3rem;
  .recommandation{
    display: flex;
    justify-content: space-between;
  .more{
    color: $primary-color;
  }  
  }  
.recommandation-images{
  position: relative;
  display: flex;
  gap: 15rem;
  img{
    width: 10rem;  
  } 
.amount{
  display: flex;
  gap: 1rem;
}
.left{
  .bx-plus{
    background-color: $primary-color;
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: $secondary-color;
  }
}
.right{
  .bx-plus{
    background-color: gray;
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: $secondary-color;
  }
}
}
.bx-heart{
  position: absolute;
  top: 19%;
}
}
@media(max-width:360px){
  .recommandations{
    padding: 1.5rem;
    .recommandation{
      display: flex;
      justify-content: space-between;
        }  
  .recommandation-images{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    img{
      width: 10rem;  
    } 
  .amount{
    display: flex;
    gap: 1rem;
  }
  .left{
    .bx-plus{
      background-color: $primary-color;
      padding: 0.4rem;
      border-radius: 0.3rem;
      color: $secondary-color;
    }
  }
  .right{
    .bx-plus{
      background-color: gray;
      padding: 0.4rem;
      border-radius: 0.3rem;
      color: $secondary-color;
    }
  }
  }
  .bx-heart{
    position: absolute;
    top: 10%;
  }
  } 
}