.recommandations {
  padding: 1rem;
  .recommandation {
    display: flex;
    justify-content: space-between;
    .more {
      color: $primary-color;
    }
  }
  .recommandation-images {
    position: relative;
    display: flex;
    gap: 13rem;
    img {
      width: 10rem;
    }
    .amount {
      display: flex;
      gap: 1rem;
    }
    .left {
      .bx-plus {
        background-color: $primary-color;
        padding: 0.4rem;
        border-radius: 0.3rem;
        color: $secondary-color;
      }
    }
    .right {
   .bx-plus {
        background-color: gray;
        padding: 0.4rem;
        border-radius: 0.3rem;
        color: $secondary-color;
      }
    }
  }
  .bx-heart {
    position: absolute;
    top: 19%;
  }
}
@media(max-width:788px){
  .recommandations {
    padding: 1rem 4rem;
    .recommandation {
      display: flex;
      justify-content: space-between;
      .more {
        color: $primary-color;
      }
    }
    .recommandation-images {
      padding-left: 5rem;
      position: relative;
      display: flex;
      gap: 10rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        gap: 1rem;
      }
      .left {
        .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
     .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 19%;
    }
  } 
}
@media(max-width:630px){
  .recommandations {
    padding: 1rem 4rem;
    .recommandation {
      display: flex;
      justify-content: space-between;
      .more {
        color: $primary-color;
      }
    }
    .recommandation-images {
      padding-left: 2rem;
      position: relative;
      justify-content: center;
      display: flex;
      gap: 10rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        gap: 1rem;
      }
      .left {
        .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
     .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 19%;
    }
  }  
}
@media(max-width:578px){
  .recommandations {
    padding: 1rem 4rem;
    .recommandation {
      display: flex;
      justify-content: space-between;
      .more {
        color: $primary-color;
      }
    }
    .recommandation-images {
      position: relative;
      justify-content: center;
      display: flex;
      gap: 10rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        gap: 1rem;
      }
      .left {
        .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
     .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 19%;
    }
  }   
}
@media(max-width:488px){
  .recommandations {
    padding: 1rem 4rem;
    .recommandation {
      display: flex;
      justify-content: space-between;
      .more {
        color: $primary-color;
      }
    }
    .recommandation-images {
      position: relative;
      justify-content: center;
      display: flex;
      gap: 10rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        gap: 1rem;
      }
      .left {
        .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
     .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 19%;
    }
  }     
}
@media(max-width:430px){
  .recommandations {
    padding: 1rem 3rem;
    .recommandation {
      display: flex;
      justify-content: space-between;
      .more {
        color: $primary-color;
      }
    }
    .recommandation-images {
      position: relative;
      justify-content: center;
      display: flex;
      gap: 5rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        gap: 1rem;
      }
      .left {
        .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
     .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 19%;
    }
  }   
}
@media (max-width: 414px) {
  .recommandations {
    padding: 1.5rem;
    .recommandation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 1rem;
    }
    .recommandation-images {
      position: relative;
      justify-content: center;
      display: flex;
      flex-direction: row;
      padding-left: 0.1rem;
      gap: 1rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        text-align: start;
      }
      .left {
        text-align: end;
        width: 50%;
        i .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
        width: 50%;
        text-align: end;
        padding-right: 0.4rem;
        .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 10%;
    }
  }
}
@media (max-width: 360px) {
  .recommandations {
    padding: 1.5rem;
    .recommandation {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 1rem;
    }
    .recommandation-images {
      position: relative;
      justify-content: center;
      display: flex;
      flex-direction: row;
      padding-left: 0.1rem;
      gap: 1rem;
      img {
        width: 10rem;
      }
      .amount {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        text-align: start;
      }
      .left {
        text-align: end;
        width: 50%;
        i .bx-plus {
          background-color: $primary-color;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
      .right {
        width: 50%;
        text-align: end;
        padding-right: 0.4rem;
        .bx-plus {
          background-color: gray;
          padding: 0.4rem;
          border-radius: 0.3rem;
          color: $secondary-color;
        }
      }
    }
    .bx-heart {
      position: absolute;
      top: 10%;
    }
  }
}
