@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.introduction {
  min-height: 100vh;
  background-color: blue;
}
.introduction .shoe-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduction .shoe-image img {
  width: 30rem;
  height: 30rem;
}
.introduction .description {
  padding: 2rem;
  text-align: center;
}
.introduction .description h2 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.introduction .description p {
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
}
.introduction .btn {
  text-align: center;
  padding: 1.5rem;
}
.introduction .btn a {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 3rem;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 360px) {
  .introduction {
    width: 100%;
  }
  .introduction .shoe-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .introduction .shoe-image img {
    padding-top: 4rem;
    width: 20rem;
    height: 20rem;
  }
  .introduction .description {
    padding: 2rem;
    text-align: center;
  }
  .introduction .description h2 {
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
  }
  .introduction .description p {
    color: white;
    padding: 1rem;
    font-weight: lighter;
    font-size: 1rem;
  }
}
.welcome-back {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}
.welcome-back .left-side h2 {
  color: #e3e8ee;
  font-weight: bold;
  font-size: 2rem;
}
.welcome-back .right-side .bx {
  background-color: #e3e8ee;
  padding: 0.2rem;
}

@media (max-width: 360px) {
  .welcome-back {
    padding: 2.5rem 1rem;
  }
  .welcome-back .left-side h2 {
    color: #e3e8ee;
    font-weight: bold;
    font-size: 1rem;
  }
  .welcome-back .left-side h3 {
    font-size: 1rem;
  }
  .welcome-back .right-side .bx {
    background-color: #e3e8ee;
    padding: 0.2rem;
  }
}
.collection {
  padding: 3rem;
}
.collection .collections {
  padding: 1rem 5rem;
  justify-content: space-between;
  display: flex;
  gap: 10rem;
  background-color: blue;
}
.collection .collections .about-image img {
  width: 19rem;
  height: 19rem;
}
.collection .collections .about {
  padding-top: 3.3rem;
}
.collection .collections .about h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}
.collection .collections .about p {
  color: white;
  font-size: 1.4rem;
}
.collection .collections .about .bttn {
  padding-top: 2rem;
}
.collection .collections .about .bttn a {
  color: blue;
  background-color: white;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
.collection .circles {
  padding: 0.5rem;
  text-align: center;
}
.collection .circles .bxs-circle {
  color: #e3e8ee;
}
.collection .circles .blue-circle {
  color: blue;
  border: solid blue 1px;
  border-radius: 50%;
}

@media (max-width: 360px) {
  .collection {
    padding: 1.5rem;
  }
  .collection .collections {
    padding: 1rem 1.5rem;
    flex-direction: column;
    display: flex;
    gap: 3.5rem;
  }
  .collection .collections .about-image {
    text-align: center;
  }
  .collection .collections .about-image img {
    width: 10rem;
    height: 10rem;
  }
  .collection .collections .about {
    padding-top: 1.5rem;
    text-align: center;
  }
  .collection .collections .about h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  .collection .collections .about p {
    font-size: 1.2rem;
  }
}
.categories {
  padding: 4rem;
}
.categories .category-name {
  padding-top: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  flex-direction: row;
  gap: 9rem;
}
.categories .category-name .nike {
  border: blue solid 1px;
}
.categories .category-name img {
  margin-left: 1rem;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories .category {
  display: flex;
  justify-content: space-between;
}
.categories .category .more {
  color: blue;
}

@media (max-width: 360px) {
  .categories {
    padding: 1rem;
  }
  .categories .category-name {
    padding-top: 1.5rem;
    -o-object-fit: contain;
       object-fit: contain;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .categories .category-name img {
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .categories .category {
    display: flex;
    justify-content: space-between;
  }
  .categories .category .more {
    color: blue;
  }
}
.recommandations {
  padding: 3rem;
}
.recommandations .recommandation {
  display: flex;
  justify-content: space-between;
}
.recommandations .recommandation .more {
  color: blue;
}
.recommandations .recommandation-images {
  position: relative;
  display: flex;
  gap: 15rem;
}
.recommandations .recommandation-images img {
  width: 10rem;
}
.recommandations .recommandation-images .amount {
  display: flex;
  gap: 1rem;
}
.recommandations .recommandation-images .left .bx-plus {
  background-color: blue;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: white;
}
.recommandations .recommandation-images .right .bx-plus {
  background-color: gray;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: white;
}
.recommandations .bx-heart {
  position: absolute;
  top: 19%;
}

@media (max-width: 360px) {
  .recommandations {
    padding: 1.5rem;
  }
  .recommandations .recommandation {
    display: flex;
    justify-content: space-between;
  }
  .recommandations .recommandation-images {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
  .recommandations .recommandation-images img {
    width: 10rem;
  }
  .recommandations .recommandation-images .amount {
    display: flex;
    gap: 1rem;
  }
  .recommandations .recommandation-images .left .bx-plus {
    background-color: blue;
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: white;
  }
  .recommandations .recommandation-images .right .bx-plus {
    background-color: gray;
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: white;
  }
  .recommandations .bx-heart {
    position: absolute;
    top: 10%;
  }
}
.page-conclusion {
  position: relative;
  padding-left: 10rem;
  padding-bottom: 2rem;
}
.page-conclusion .footer {
  position: fixed;
  bottom: 5%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
  padding: 1rem;
  width: 40%;
}
.page-conclusion .footer .grid {
  font-size: 1.5rem;
  color: gray;
}
.page-conclusion .footer .home {
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 360px) {
  .page-conclusion {
    padding-left: 2rem;
  }
  .page-conclusion .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    width: 85%;
  }
  .page-conclusion .footer .grid {
    font-size: 1.2rem;
    color: gray;
  }
  .page-conclusion .footer .home {
    color: white;
    font-size: 1.2rem;
  }
}
.detailed .go-back {
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  background-color: blue;
}
.detailed .go-back a {
  text-decoration: none;
}
.detailed .go-back h3 {
  color: white;
}
.detailed .shoe-image-two img {
  border-radius: 2rem;
  background-color: white;
  width: 20rem;
  height: 20rem;
}

.back {
  background-color: blue;
}

@media (max-width: 360px) {
  .detailed {
    position: relative;
  }
  .detailed .go-back {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    background-color: blue;
  }
  .detailed .go-back a {
    text-decoration: none;
  }
  .detailed .go-back h3 {
    color: white;
  }
  .detailed .shoe-image-two {
    padding-left: 2.5rem;
  }
  .detailed .shoe-image-two img {
    border-radius: 2rem;
    background-color: #e3e8ee;
    width: 18rem;
    height: 16rem;
    position: absolute;
    top: 25%;
  }
  .back {
    border-radius: 1rem;
    height: 60vh;
    background-color: blue;
  }
}
.shoe-images {
  padding-top: 1.5rem;
  text-align: center;
}
.shoe-images img {
  width: 15rem;
}
.shoe-images .shoe-two {
  border: blue solid 1px;
}

@media (max-width: 360px) {
  .shoe-images {
    padding-top: 2.5rem;
    text-align: center;
  }
  .shoe-images img {
    width: 5rem;
  }
  .shoe-images .shoe-two {
    border: blue solid 1px;
    width: 4rem;
  }
}
.money-paid h2 {
  color: blue;
}

.icons .bx {
  background-color: #e3e8ee;
  padding: 0.3rem;
}

.amount-sold {
  padding: 2rem 15rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 360px) {
  .money-paid h2 {
    color: blue;
  }
  .icons .bx {
    background-color: #e3e8ee;
    padding: 0.3rem;
  }
  .amount-sold {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
  }
}
.sizes {
  padding: 2rem;
}
.sizes .side {
  display: flex;
  justify-content: space-between;
}
.sizes .side .chart {
  color: blue;
}

.btns {
  justify-content: center;
  padding: 1.5rem;
  display: flex;
  gap: 5rem;
}
.btns .fourty {
  border: 1px blue solid;
}
.btns p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e8ee;
  padding: 0.5rem;
  width: 5%;
}

.size {
  display: flex;
  justify-content: space-between;
}
.size .chart {
  color: blue;
}

@media (max-width: 360px) {
  .btns {
    justify-content: center;
    padding: 1rem;
    display: flex;
    gap: 2rem;
  }
  .btns .fourty {
    border: 1px blue solid;
  }
  .btns p {
    padding: 0.5rem 1rem;
    width: 5%;
  }
}/*# sourceMappingURL=style.css.map */